<!DOCTYPE html>
<html>
  <head>
    <title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.1.2/tailwind.min.css" -%>
  <style>
    .wrapper {
      background: url('<%= "file://#{Rails.root.join('app','assets','images','assitence_certificate.png')}" %>') no-repeat left top;
      width: 2000px;
      height: 1350px;
      position: relative;
    }

    table {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
    }

    td {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
      padding: 0;
      margin: 0;
      width: 7.5px;
      height: 7.5px;
    }

    td.black { background-color: #000; }

    td.white { background-color: #fff; }

  </style>
  </head>
  <body class="wrapper">
    <div class="flex flex-col items-center justify-center h-full">
      <h1
        class="font-medium text-gray-700 text-center align-middle text-5xl relative uppercase"
        style="top: 42%;"
      >
        <%= user.full_name %>
      </h1>

      <table class="relative"  style="top: 70%;">
        <% qr.modules.each_index do |x| -%>
          <tr>
            <% qr.modules.each_index do |y| -%>
              <% if qr.dark?(x,y) -%>
                <td class="black"/>
              <% else -%>
                <td class="white"/>
              <% end -%>
            <% end -%>
          </tr>
        <% end -%>
      </table>
    </div>
  </body>
</html>
